@charset "UTF-8";

.bookprocess .react-datepicker {
    font-size: 0.8em;
}
.bookprocess :is(.react-datepicker__current-month, .react-datepicker-time__header, .react-datepicker-year-header) {
    font-size: 0.944em;
}
